In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('/content/Market_Basket_Optimisation.csv')

In [13]:
data.shape

(7500, 20)

In [14]:
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.isna().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [16]:
data.dtypes

shrimp                object
almonds               object
avocado               object
vegetables mix        object
green grapes          object
whole weat flour      object
yams                  object
cottage cheese        object
energy drink          object
tomato juice          object
low fat yogurt        object
green tea             object
honey                 object
salad                 object
mineral water         object
salmon                object
antioxydant juice     object
frozen smoothie       object
spinach               object
olive oil            float64
dtype: object

In [17]:
tran = []
for i in range(len(data)):
  tran.append([str(data.values[i,j]) for j in range(20) if str(data.values[i,j]) != '0'])

In [18]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=10917c7bca4b71181783bf6976b5b5d7ab841feb42ded7f78d86c96570740d79
  Stored in directory: /root/.cache/pip/wheels/7f/49/e3/42c73b19a264de37129fadaa0c52f26cf50e87de08fb9804af
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [19]:
from apyori import apriori

In [20]:
rules = apriori(transactions = tran, min_support=0.003, min_confidence=0.2, min_lift=3, min_length=2, max_length=2)

In [21]:
results = list(rules)

In [22]:
results

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)]),
 RelationRecord(items=frozenset({'fromage blanc', 'honey'}), support=0.0033333333333333335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.178127589063795)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2915549671393096)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.37735849056603776, lift=3.840147461662528)]),
 RelationRecord(items=frozenset({'olive oil', 'light cream'}), support=0.0032, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.120611639881417)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.008, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.130221288078346)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005066666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050848, lift=4.514493901473151)])]

In [23]:
print(len(results[8]))

3

In [24]:
print(results[0][0])

frozenset({'chicken', 'light cream'})

In [25]:
print('lhs', 'rhs', 'Confidence','support','lift')
for i in range(9):
  print(results[2][0], '\t',results[2][0],'\t',results[1],'\t',results[2][0],'\t',results[2])

lhs rhs Confidence support lift
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])
frozenset({'pasta', 'escalope'}) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]) 	 frozenset({'pasta', 'escalope'}) 	 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)])

In [26]:
for i in range(9):
  print(results[0][0],results[1][0],results[2][0],results[3][0])

frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})
frozenset({'chicken', 'light cream'}) frozenset({'mushroom cream sauce', 'escalope'}) frozenset({'pasta', 'escalope'}) frozenset({'fromage blanc', 'honey'})

In [31]:
def inspect(results):
    lhs         = [result[2][0][0] for result in results]
    rhs         = [result[2][0][1] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))

results_df = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
print(results_df)

           Left Hand Side Right Hand Side   Support  Confidence      Lift
0           (light cream)       (chicken)  0.004533    0.290598  4.843305
1  (mushroom cream sauce)      (escalope)  0.005733    0.300699  3.790327
2                 (pasta)      (escalope)  0.005867    0.372881  4.700185
3         (fromage blanc)         (honey)  0.003333    0.245098  5.178128
4         (herb & pepper)   (ground beef)  0.016000    0.323450  3.291555
5          (tomato sauce)   (ground beef)  0.005333    0.377358  3.840147
6           (light cream)     (olive oil)  0.003200    0.205128  3.120612
7     (whole wheat pasta)     (olive oil)  0.008000    0.271493  4.130221
8                 (pasta)        (shrimp)  0.005067    0.322034  4.514494